#clock {
	position: fixed;
	width: 16vw;
	height: 16vw;
	top: 4vw;
	right: 4vw;
	background: url(images/clockface.png);
	background-size: 16vw 16vw;
	list-style: none;
	border-radius: 50%;
	}

#sec, #min, #hour {
	position: absolute;
	width: 0.8vw;
	height: 16vw;
	top: 0px;
	left: 7.6vw;
	}

#sec {
	background: url(images/sechand.png);
	background-size: 0.8vw 16vw;
	z-index: 3;
	}
	
#min {
	background: url(images/minhand.png);
	background-size: 0.8vw 16vw;
	z-index: 2;
	}
	
#hour {
	background: url(images/hourhand.png);
	background-size: 0.8vw 16vw;
	z-index: 1;
	}
