#clock {
	position: fixed;
	width: 8vw;
	height: 8vw;
	top: 0.5vw;
	right: 0.5vw;
	background: url(images/clockface.png);
	background-size: 8vw 8vw;
	list-style: none;
	border-radius: 50%;
	}

#sec, #min, #hour {
	position: absolute;
	width: 0.4vw;
	height: 8vw;
	top: 0px;
	left: 3.8vw;
	}

#sec {
	background: url(images/sechand.png);
	background-size: 0.4vw 8vw;
	z-index: 3;
	}
	
#min {
	background: url(images/minhand.png);
	background-size: 0.4vw 8vw;
	z-index: 2;
	}
	
#hour {
	background: url(images/hourhand.png);
	background-size: 0.4vw 8vw;
	z-index: 1;
	}
