#zona_f1 {
	position: relative;
	height: 24vw;
	border-top: 1px;
	border-bottom: 1px ;
	background-color: whitesmoke;
}

#area_pedido {
	position: fixed;
	width: 16vw;
	height: 26vw;
	left: 84vw;
	top: 30vw;
	border: 1px solid black;
	border-right: none;
	padding-left: 1vw;
}


.botao_navegacao {
	position: absolute;
	bottom: 1vw;
}

.botoes_navegacao {
	position: absolute;
	bottom: 1vw;
	width: 100%;
	padding: 0;
}

.botoes_navegacao_2 {
	position: absolute;
	width: 100%;
	padding: 0;
}

.grupo_botoes_navegacao {
	position: absolute;
	bottom: 1vw;
	width: 100%;
}

.tipo_comida {
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
	height: 8vw;
	width: 8vw;
	position: fixed;
}

.icone_tipo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 5vw;
	width: 5vw;
}

#comida_bebidas {
	top: 52vw;
	left: 22vw;
}

#comida_entradas {
	top: 44vw;
	left: 27vw;
}

#comida_sopas {
	top: 38vw;
	left: 36vw;
}

#comida_carne {
	top: 35vw;
	left: 50vw;
}

#comida_peixe {
	top: 38vw;
	left: 64vw;
}

#comida_vegetariano {
	top: 44vw;
	left: 74vw;
}

#comida_sobremesas {
	top: 52vw;
	left: 78vw;
}

#ofertas {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.oferta {
	padding-left: 0.25vw;
	padding-right: 0.25vw;
	display: inline-block;
	text-align: center;
}

.imagem_oferta {
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

.imagem_teste {
	background: green;
}

.seta {
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
	background-color: CornflowerBlue;
}

#seta_esquerda {
	position: absolute;
	top: 1vw;
	left: 1vw;
}

#seta_direita {
	position: absolute;
	top: 1vw;
	right: 1vw;
}

.imagem_pedido_lista {
	width: 1vw;
	height: 1vw;
}


.imagem_info_col {
	padding-left: 10vw;
	padding-right: 0.25vw;
	padding-top: 1.5vw;
	display: inline-block;
	text-align: center;
}

.imagem_info {
	width: 5vw;
	height: 5vw;
}

.info_nutricional {
	padding-left: 1vw;
	padding-right: 0.25vw;
	text-align: left;
}

.tempo_espera {
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 8.0vw;
	padding-bottom: 5.0vw;
	text-align: center;
}

.add_sub{
	width: 2vw;
	height: 2vw;
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
}

.acompanhamentos{
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 1vw;
	padding-bottom: 2vw;
	text-align: center;	
}
.extras{
	padding-top: 2vw;
	padding-bottom: 2vw;
	text-align: center;	
}

#lista_pedidos {
	overflow-y: scroll;
	height: 15vw;
}

#lista_pedidos_preco_total {
	text-align: right;
	margin-right: 1vw;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

