.container {
   margin: 0 !important;
   width: auto;
}

#prato {
	width: 50vw;
	height: 50vw;
	border-radius: 50%;
	background: red;
	position: fixed;
	left: 25vw; /* (100-50)/2 */
	top: 39.0625vw; /* (9/16*100-50/2)*(1+0.25) */
	z-index: -100;
}

#f1 {
	width: 16vw;
	height: 16vw;
	position: fixed;
	left: 15vw;
	top: 40vw;
	transform: translate(-50%, -50%);
}

#f2 {
	width: 16vw;
	height: 16vw;
	position: fixed;
	right: 15vw;
	top: 40vw;
	transform: translate(50%, -50%);
}

#f3 {
	width: 16vw;
	height: 16vw;
	position: fixed;
	left: 50vw;
	top: 30vw;
	transform: translate(-50%, -50%);
}

.imagem_funcionalidade {
	width: 10vw;
	height: 10vw;
	margin: auto;
	display: block;
	padding: 0.25vw;
}

#zona_f1 {
	margin: 0;
	height: 14vw;
	border: 1px solid black;
	display: 'none';
}
