.f3_titulo {
	text-align: center;
	font-size: 2vw;
	font-weight: bold;
}

#f3_selecionar_tudo_div {
	border-bottom-style: dashed;
	border-width: 0.1vw;
}

#f3_2_lista_checkboxes {
	height: 12vw;
	overflow-y: scroll;
}

#f3_7_comentario {
	width: 100%;
	height: 10vw;
	resize: none;
}

#surprise {
	position: fixed;
	height: 25vw;
	bottom: -25vw;
	right: -25vw;
	transform: rotate(-45deg);
}
